.date-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
  background-color: white;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.feature-icon {
  font-size: 2.5rem;
  color: #facc15;
}

.feature-text h4 {
  font-weight: bold;
  font-size: 2rem;
  color: #047857;
  margin: 0;
}

.feature-text p {
  font-size: 1.4rem;
  color: #4b5563;
  margin: 0;
}


@media (max-width:380px) {

  .date-container {
    padding: 1rem 0;
  }

  .feature-icon {
  font-size: 2rem;
  }

  .feature-text h4 {
  font-size: 1.5rem;
  }

  .feature-text p {
  font-size: 1rem;
  }
  
}
